@media screen and (max-width: 768px) {
    .DesktopOnly{
        display: none;
    }
}

.LinkList{
    max-height: 255px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.LinkList::-webkit-scrollbar {
    display: none;
  }